<html>
    <head>
        <title>Creando el primer blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>
        {% for post in posts %}
        <div>
            <p> publicado: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
        <div>
            <p>published: 11.06.2022, 14:17</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Sint ipsum tempore cumque temporibus numquam quis aperiam nihil asperiores, 
                eum eligendi vero consectetur eius vitae soluta. 
                Vitae tempora minus itaque molestiae?</p>
        </div>
    </body>
</html>
